<ion-view view-title="Météo">
  <ion-content class="">
    <ion-refresher
    pulling-text="Tirer pour rafraichir..."
    on-refresh="doRefresh()">
  </ion-refresher>
    <div class="row">
      <div class="padding col temp">
        <p>
          {{current}}°<br/>
          {{ressentie}}° ressentie
        </p>
      </div>
      <div class="padding col other">
          <i class="weatherIcon icon ion-ios-{{weatherIcon}}"></i>
      </div>
    </div>
    <div class="row">
      <div class="padding col wind">
        <p>
          {{vent.JSONDataResult}}km/h
        </p>
        <p>
          <i class="icon ion-navigate"></i>{{directionVentLettre.JSONDataResult}}
        </p>
      </div>

      <div class="padding col water" on-tap="showAlert()">
          <i class="waterIcon icon ion-waterdrop"></i><br>
          {{precipitations.JSONDataResult}}mm d'eau
      </div>

    </div>
  </ion-content>
</ion-view>
