/* Empty. Add your own CSS if you like */
.tabs-color-light{
  background-color: #9DF9FF;
}

.weatherIcon{
  font-size: 25px;
}

.waterIcon{
  font-size: 25px;
}

.temp{
  background-color: #9DF9FF;
  width: 800px;
  height: 400px;
  text-align: center;
  line-height: 200px;
  font-size: 40px;
}

.other{
  background-color: #BBCBCC;
  width: 800px;
  height: 400px;
  text-align: center;
  line-height: 300px;
  font-size: 40px;
}

.wind{
  background-color: #E9FEFF;
  width: 800px;
  height: 400px;
  text-align: center;
  line-height: 200px;
  font-size: 40px;
}

.water {
  background-color: #4E7D7F;
  width: 800px;
  height: 400px;
  text-align: center;
  line-height: 200px;
  font-size: 40px;
}
